body{
    background-color: white;
    font-size: 80%;
}

.emoji{

    width: 20px;
    height: 20px;
}

#messageid {
    height: 90%;
    overflow-y: scroll;
}

#userlist{
    overflow-y: auto;
}

#userlist li:last-child {
              border-bottom: none;
            }

#messages {
    list-style: none;
}


#messages li {
    border: 1px solid black;
    max-width: 30%;
    background-color: white;
    color: black;
    width: 30%;
    margin-right: 65%;
    float: left;
    word-wrap: break-word;
    padding: 3px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
}

.ownMessage {
    margin-left: 65%;
    margin-right: 0;
    background-color: black;
}


.profile{

    background-color: white;
    color: black;
    box-sizing: border-box;

    /*  width & height  */
    width: 25%;
    height: 8%;

    /*  padding  */
    padding-right: 5px;
    padding-left: 5px;

    /*  margin  */
    margin: 5px;,
    margin-right: 0px;


    position: fixed;
    display: table;
    
    border-bottom: solid;
    border-bottom-color: black;

}

        .profile h1{

            color: black;
            display: table-cell;
            vertical-align: middle;
            padding-left: 5px;
            font-family: Arial ,sans-serif;
            font-size: 1.5em;
            font-variant: small-caps;
        }

.chat_header{

    background-color: white;
    color: whitesmoke;
    box-sizing: border-box;

    /*  widht & height  */
    height: 8%;
    left: 25%;
    width: 71%;

    /*  padding  */
    padding-right: 5px;
    padding-left: 20px;

    /*  margin  */
     margin: 5px;
    margin-right: 105px;
    margin-left: 10px;

    /* Borders: */
    border-left: solid;
    border-bottom: solid;
    border-color: black;
    border-width: 2px;

    position: fixed;
    display: table;

}

        .chat_header h1{

            box-sizing: border-box;
            display: table-cell;
            vertical-align: middle;
            padding-left: 5px;
            font-family: Arial ,sans-serif;
            font-size: 1.5em;
            font-variant: small-caps;
            color: black;
            border-bottom: solid,3px;

        }


.time{
    color: white;
    text-align: right;
    font-size: 0.8em;
}
.rooms{

    background-color: white;
    color: black;
    box-sizing: border-box;
    /*  width & height  */
    height: 87%;
    width: 25%;

    /*  positioning:  */
    position: absolute;
    top: 10%;

    /*  padding  */
    padding-right: 5px;
    padding-left: 5px;

    /*  margin  */
    margin: 5px;,
    margin-right: 0px;
    overflow-y: auto;
}

#accessibility{
    padding-top: 10px;
}

.rooms hr{
    height: 5px;
	background: url(images/line.png) repeat-x 0 0;
    border: none;
}
.rooms h1{
    color: black;
            font-family: Arial ,sans-serif;
            font-size: 1.5em;
            font-variant: small-caps;
            width: 20%;
}

.rooms ul{
    margin-top: 25px;
}

.rooms li{
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
}

.active_chat {

    background-color: #222327;
    color: black;
    box-sizing: border-box;
    height: 87%;
    left: 25%;
    width: 71%;

    /*  positioning:  */
    position: fixed;
    top: 10%;

    /*  padding  */
    padding-right: 5px;
    padding-left: 20px;

    /*  margin  */
    margin: 5px;
    margin-right: 105px;
    margin-left: 10px;

    /* Borders: */
    border-left: solid;
    border-color: #666;
    border-width: 3px;

}

.messageid{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: white;
    color: black;
    width: auto%;
    padding: 5px;
    padding-bottom: 50px;
    height:90%;
}

#messageid li{
    color: black;
    background-color: white;
}
.text {

    /*  margin  */
    margin: 5px;
    margin-right: 0.5px;
    margin-left: 0.5px;
    margin-bottom: 0;
    display: table;
     /*  padding  */
    text-align: center;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: white;
    box-sizing: border-box;
    border-top: solid 3px;
    border-bottom: solid 1px;
    border-color: black;
}

.text #searchBar{
    background-color:white;
    width: 14%;
    left: 2%;
    height: 70%;
    top: 15%;
    border: solid, 3px;
    position: absolute;
    box-sizing: border-box;
    background-color:white;
                    background-image: url(images/search.png);
                    background-repeat: no-repeat;
                    background-size: 24px;
                    background-position: 5px;
    color: black;
    padding-left: 33px;
    border: solid;
    border-color: black;
}

.text #searchrev{
    background-color:white;
    width: 4%;
    left: 16%;
    height: 70%;
    top: 15%;
    border: solid;
    border-color: black;
    border-left: none;
    position: absolute;
    box-sizing: border-box;
    background-color:white;
                    background-image: url(images/cross.png);
                    background-repeat: no-repeat;
                    background-size: 22px;
                    background-position: 10px;
    color: white;
    padding-left: 33px;
}

        .text #chatBar{

            background-color:white;
            box-sizing: border-box;
            width: 70%;
            height: 70%;
           /* border: 1px solid white;*/
            border: solid, 2px;
            position: absolute;
            top: 15%;
            left: 23%;
            background-image: url(images/chat.png);
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: 5px;
            color: white;
            padding-left: 45px;
            vertical-align: middle;
            
    border: solid;
    border-color: black;


        }
        .text input[type=text]:focus {
            border: 2px solid #FF720F;
        }
         .text button{

                    color: white;
                    background-color:white;
                    background-image: url(images/arrow.png);
                    background-repeat: no-repeat;
                    background-size: 30px;
                    background-position: center;
                    position: absolute;
                    height: 70%;
                    width: 4%;
                    top: 15%;
                    right: 5%;
             
    border: solid;
    border-color: black;
             
                }
        .text input[type=text]:focus {
            border: 2px solid #FF720F;
        }

.chats {
  width: 100%;
    color: black;
}
            .chats h2{
                color: black;
                display: table-cell;
                vertical-align: middle;
                padding-left: 5px;
                font-family: Arial ,sans-serif;
                font-size: 2em;
                font-variant: small-caps;
            }


            .chats ul {
              list-style-type: none;
              margin: 10;
              padding: 0;
            }

            .chats li {

                width= 100%;
                margin: 10;
                font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
                border-top: 1px solid #666;
                margin: 10;
                padding-top: 10;
                padding-bottom: 10;
            }

            .chats li:last-child {
              border-bottom: none;
            }

            .chats li a {
                text-decoration: none;
                box-sizing: border-box;
                display: inline-block;
                height: 30%;
                width: 100%;
                font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
                color: black;

            }

            .chats li a:hover {
                font-size: 17px;
                color: black;
            }


#login{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 10;
    background-color: white;
    padding-top: 1.5%;
    display: table;
    border: solid;
    border-color: black;

}

#login input{
    top: 25%;
    margin-top: -50px;
    margin: 20px;
    margin-left: 25%;
    background-color: white;
    color: black;
    padding: 7px;
}

#login #displayname{
    width: 45%;
    margin-top: 2px;
    background-image: url(images/user.png);
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 5px;
    padding-left: 5%;
    border: solid;
    border-color: black;
}

#login  #username{
    width: 45%;
    margin-top: 2px;
    background-image: url(images/user.png);
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 5px;
    padding-left: 5%;
    border: solid;
    border-color: black;
}

#login #password{

    width: 45%;
    margin-top: 2px;
    background-image: url(images/password.png);
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 5px;
    padding-left: 5%;
    border: solid;
    border-color: black;

}

#login input[type=button]{
    width: 20%;
    margin-left: 40%;
    background-color: white;
    border: solid;
    border-color: black;
}

#login h1{
            color: black;
            padding-left: 40%;
            font-family: Arial ,sans-serif;
            font-size: 1.8em;
            font-variant: small-caps;
            width: 20%;
}