body{
    background-color: #a4a4a4;
}

.emoji{

    width: 20px;
    height: 20px;
}

#messageid {
    height: 90%;
    overflow-y: scroll;
}

#newRoom{
    background-color: #FF862C;
    border: none;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    position: float;   
}

#userlist{
    overflow-y: auto;
}

#userlist li:last-child {
    border-bottom: none;
}

#messages {
    list-style: none;
    font-size: 1em;
}


#messages li {
    border: 1px solid black;
    max-width: 30%;
    background-color: #a4a4a4;
    color: black;
    width: 30%;
    margin-right: 65%;
    float: left;
    word-wrap: break-word;
    padding: 3px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
}

.ownMessage {
    
    background-color:#FF862C!important;
    
    margin-left: 65%;
    margin-right: 0;
}


.profile{

    background-color: #222327;
    color: #FF862C;
    box-sizing: border-box;

    /*  width & height  */
    width: 25%;
    height: 8%;

    /*  padding  */
    padding-right: 5px;
    padding-left: 5px;

    /*  margin  */
    margin: 5px;,
    margin-right: 0px;


    position: fixed;
    display: table;
}

.profile h1{

    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    
    font-family: Arial ,sans-serif;
    font-size: 1.5em;
    color: #FF862C;
}

.chat_header{

    background-color: #222327;
    color: whitesmoke;
    box-sizing: border-box;

    /*  widht & height  */
    height: 8%;
    left: 25%;
    width: 71%;

    /*  padding  */
    padding-right: 5px;
    padding-left: 20px;

    /*  margin  */
    margin: 5px;
    margin-right: 105px;
    margin-left: 10px;

    /* Borders: */
    border-left: solid;
    border-color: #a4a4a4;
    border-width: 3px;

    position: fixed;
    display: table;
}

.chat_header h1{

    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    
    font-family: Arial ,sans-serif;
    font-size: 1.5em;
}


.time{
    
    color: antiquewhite;
    text-align: right;
    font-size: 0.8em;
}

.rooms{

    background-color: #222327;
    color: antiquewhite;
    box-sizing: border-box;
    /*  width & height  */
    height: 87%;
    width: 25%;

    /*  positioning:  */
    position: absolute;
    top: 10%;

    /*  padding  */
    padding-right: 5px;
    padding-left: 5px;

    /*  margin  */
    margin: 5px;,
    margin-right: 0px;
    overflow-y: auto;
}

#accessibility{
    padding-top: 10px;
}
#accessibility legend{
    color: #FF862C;
    font-size: 1.2em;
}

#textSizeminus {
    background-color: #FF862C;
    color: white;
    border-style: none;
    width: 6%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
}

#textSizeplus {
    background-color: #FF862C;
    color: white;
    border-style: none;
    width: 6%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
}

#textSizeValue{
    background-color: #a4a4a4;
    width: 10%;
    border-style: none;
    text-align: center;
    margin-top: 5px;
}


.rooms hr{
    height: 5px;
	background: url(images/line.png) repeat-x 0 0;
    border: none;
}

.rooms h1{
    color: #FF862C;
    font-family: Arial ,sans-serif;
    font-size: 1.5em;
    width: 20%;
    margin-top: 20px;
}

.rooms ul{
    margin-top: 5px;
}

.rooms li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.active_chat {

    background-color: #8A8A8A;
    color: white;
    background-image: url(images/background.jpg);
    background-size: 100%, 100%;
    box-sizing: border-box;
    height: 87%;
    left: 25%;
    width: 71%;

    /*  positioning:  */
    position: fixed;
    top: 10%;

    /*  padding  */
    padding-right: 5px;
    padding-left: 20px;

    /*  margin  */
    margin: 5px;
    margin-right: 105px;
    margin-left: 10px;

    /* Borders: */
    border-left: solid;
    border-color: #a4a4a4;
    border-width: 3px;
    display: inline;
}

.messageid{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #a4a4a4;
    color: white;
    width: auto%;
    padding: 5px;
    padding-bottom: 50px;
    height:90%;
}

#messageid li{
    color: white;
}

.text {

    /*  margin  */
    margin: 5px;
    margin-right: 0.5px;
    margin-left: 0.5px;
    margin-bottom: 0;
    display: table;
     /*  padding  */
    text-align: center;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: #222327;
    box-sizing: border-box;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #a4a4a4;*/
    background-color: black;
}

.smileys{
    width: 25px;
    height: 25px;
}

#list{
    position: absolute;
    bottom: 10%;
    height: auto;
    width: 20%;
    background-color: #222327;
    left: 16%;
    border-radius: 5px;
    padding: 10px;
    display: none!important;
}

#smileypicker{
    background-color: #FF862C;
    width: auto;
    left: 10%;
    height: 70%;
    top: 15%;
    border: none;
    position: absolute;
    box-sizing: border-box;
    background-image: url(images/smiley_button.png);
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: center;
    color: white;
    padding-left: 33px;
}



#welcomeDiv{
    display: none;
}


#searchBar{
    background-color: #a4a4a4;
    width: 14%;
    right: 6%;
    height: 70%;
    top: 15%;
    border: none;
    position: absolute;
    box-sizing: border-box;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 5px;
    color: white;
    padding-left: 33px;
}


#searchrev{
    background-color:#a4a4a4;
    width: 4%;
    right: 2%;
    height: 70%;
    top: 15%;
    border: none;
    border-left: solid;
    border-left-width: 3px;
    border-color: #222327;
    position: absolute;
    box-sizing: border-box;
    background-color:#a4a4a4;
    background-image: url(images/cross.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 10px;
    color: white;
    padding-left: 33px;
}

.text #chatBar{

    background-color:#a4a4a4;
    box-sizing: border-box;
    width: 66%;
    height: 70%;
   /* border: 1px solid white;*/
    border: none;
    position: absolute;
    top: 15%;
    left: 17.5%;
    background-image: url(images/chat.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 5px;
    color: white;
    padding-left: 45px;
    vertical-align: middle;


}
.text input[type=text]:focus {
    border: 2px solid #FF862C;
}
 .text button{

    color: white;
    background-color:#a4a4a4;
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    position: absolute;
    height: 70%;
    width: 4.5%;
    top: 15%;
    left: 83.5%;
    border:none;
    padding-right: -2px;
    border-left: solid;
    border-left-width: 3px;
    border-color: #222327;
}

.text input[type=text]:focus {
    border: 2px solid #FF862C;
}

.chats {
    width: 100%;
}

.chats h2{
    color: #FF862C;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    font-family: Arial ,sans-serif;
    font-size: 2em;
}


.chats ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
    font-size: 10px;
}

.chats li {

    color: antiquewhite;
    width= 100%;
    margin: 10;
    font: Helvetica, Verdana, sans-serif;
    border-top: 1px solid #a4a4a4;
    margin: 10;
    padding-top: 10;
    padding-bottom: 10;
    font-size: 15px;
}

.chats li:last-child {
  border-bottom: none;
}

.chats li a {
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    height: 30%;
    width: 100%;
    font-size: 15px;
    font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
    color: antiquewhite;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease
}

.chats li a:hover {
    font-size: 17px;
    background: #f6f6f6;
    color: #FF862C;
}

#cookie{
    position: absolute;
    width: 45%;
    width: 45%;
    height: auto;
    top: 25%;
    left: 27.5%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 10;
    background-color: #222327;
    display: table;
    box-shadow: 8px 8px 7px #383736;
}

#innercookie{
    background-color: aqua;
}

#cookie input{
    margin-top: -50px;
    margin: 20px;
    background-color: #FF862C;
    color: white;
    border: none;
    padding: 10px;
}

#cookie #continue{
    width: 25%;
    margin-left: 37.5%;
}

#cookie #back{
    width: 18%;
    margin-left: 41%;
    margin-bottom: 10%;
}

#cookie h1{
    color: #FF862C;
    text-align: center;
    margin-top: 10%;
}

#newRoomForm{
    position: absolute;
    width: 36%;
    height: 20%;
    top: 25%;
    left: 32%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 10;
    background-color: #222327;
    display: table;
    box-shadow: 8px 8px 7px #383736;
}

#newRoomForm #newRoomName{
    background-color: #a4a4a4;
    color:white;
    width: 30%;
    padding: 5px;
    margin-left: 35%;
    margin-top: 5%;
    border: none;
}

#newRoomForm #submitRoom{
    background-color: #FF862C;
    color: white;
    width: 20%;
    margin-left: 40%;
    margin-top: 5%;
    border: none;
    margin-bottom: 10%;
    padding: 3px;
}

#newRoomForm h3{
    color: #FF862C;
    text-align: center;
    margin-top: 10%;
}

#login{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 10;
    background-color: #222327;
    padding-top: 1.5%;
    display: table;
    box-shadow: 8px 8px 7px #383736;

}

#login input{
    top: 25%;
    margin-top: -50px;
    margin: 20px;
    margin-left: 25%;
    background-color: #a4a4a4;
    color: white;
    border: none;
    padding: 7px;
}

#login #displayname{
    width: 45%;
    margin-top: 2px;
    background-image: url(images/user.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5px;
    padding-left: 5%;
}

#login  #username{
    width: 45%;
    margin-top: 2px;
    background-image: url(images/user.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5px;
    padding-left: 5%;
}

#login #password{

    width: 45%;
    margin-top: 2px;
    background-image: url(images/password.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5px;
    padding-left: 5%;

}

#login input[type=button]{
    width: 20%;
    margin-left: 40%;
    background-color: #FF862C
}

#login h1{
    color: #FF862C;
    padding-left: 40%;
    font-family: Arial ,sans-serif;
    font-size: 1.8em;
    width: 30%;
}